.nav{
    width: 100%;
    height: fit-content;
    padding: .8rem .4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: yellow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.logo{
    height: 100%;
    font-size: 1.5rem;
    font-weight: bolder;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu li{
    list-style: none;
    margin-left: 1rem;
}